@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');


.Carroussel{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Veja{
    width: 30%;
    margin-top: 100px;
}

.BtnBoutique{
    background-color: #23F7B1;
    color: #218BED;
    box-shadow: 3px 3px 0 #218BED;
    border-radius: 20px;
    width: 30%;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Titan One';
    border: none;
    margin-bottom: 50px;
}