.home__section {
    display: flex;
    padding: 30px;
  }


  .buttonBordeaux {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #008f68;
    opacity: 0.7;
    border: none;
  }

  .pricing {
    width:700px;
  }
  
  .searchPage__info {
    padding: 20px;
  }

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
  }

  .AreaBordeaux {
display: flex;
justify-content: space-around;
  }
