
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
body{
  margin: 0;
}

.Titre {

  color: #008f68;
  font-size: 80px;
  font-family: 'Titan One';
 }

.logo {
  width: 20%;
}


.coverPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.Fond{
  position: absolute;
  z-index: -100;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}


.inputSearch {
  display: flex;
  margin-left: 60px;
}

.inputSearch input {
  border: 1px solid #999;
  padding: 0.5rem;
  margin-top: 22px;
  margin-right: 10px;
  width: 300px;
}

.inputSearch h3 {
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.inputSearch img {
  width: 30px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;

}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
  background-color: white;
  color: black;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.BodyHome{
  background-color: #DFDFF9;
  opacity: 0,3;
}


.Loupe{
  width: 10%;
}

.form-group{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Titan One';

}

.form-control{
  border: 0;
  border-radius: 0;
  background: none;
  background-color: #fae14274;
  border-bottom: 2px solid #008f68;
  width: 200%;
  padding: 20px;
  font-size: 18px;
}
.HeaderPage {
  display: flex;
  align-items: center;
}
.Formulaire {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 5px;
}

.cotedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008f68;
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 5px;
}

.login {
  position: absolute;
  top:150px;
  right:150px;
}
